@import 'coverflow.css';
@import 'thumbnails.css';
@import 'mapping.css';

body {
  font-family: "helvetica neue",'helvetica','arial';
  background-color: #222;
  padding: 20px;
  overflow-x: hidden;
  color: #fafafa;
  line-height: 1.4;
}

#slideshow_control {
  margin-bottom: 15px;
}

#footer {
  clear: both;
  margin-top: 20px; 
  padding-top: 15px; 
  border-top: 1px solid #444;
}

a {
  color: #ff9c00;
  text-decoraation: underline;
}